header {
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 30px;
}
.header_adress {
  //   outline: tomato;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  @extend %mainText;
  font-size: 13px;
  color: $white;
}
.header_nav {
  margin-top: 20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.header_nav li {
  flex-basis: calc(100% / 4);
  border: 1px solid $white;
  padding: 13px;
  padding-bottom: 13px;
  &:last-child {
    border-right: none;
  }
  &:first-child {
    border-left: none;
  }
  @extend %mainText;
  color: $white;
}
