.record {
  position: relative;
  padding-top: 130px;
  padding-bottom: 100px;
  background-color: $bgColorBlack;
  color: $white;
  text-align: center;
}
.record_strike {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.border-img1 {
  position: absolute;
  top: 60px;
  left: 55px;
}
.border-img2 {
  position: absolute;
  top: 64px;
  right: 38px;
}
.record_title {
  margin-left: auto;
  margin-right: auto;
  //   margin-bottom: 80px;
  font-size: 36px;
}
.record_title-container {
  padding: 10px 50px;
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translate(-50%);
  background-color: $bgColorBlack;
}
.record_form {
  border-bottom: 3px solid $bgColorBeige;
  border-left: 3px solid $bgColorBeige;
  border-right: 3px solid $bgColorBeige;
  border-top: 3px solid $bgColorBeige;
  padding-left: 285px;
  padding-right: 285px;
  padding-top: 105px;
}
.form {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}
.form-addres {
  margin-top: 40px;
}
.submit {
  margin-top: 60px;
  width: 540px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  background-color: inherit;
  border: 1px solid $white;
}
.input-form {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background-color: initial;
  border-color: $white;
  padding-bottom: 10px;
  &::placeholder {
    @extend %mainText;
    font-size: 13px;
    font-weight: 500;
    color: $white;
    text-align: left;
  }
  .name-tel-form & {
    width: 255px;
  }
  .form-addres & {
    width: 100%;
  }
}
label + label {
  margin-left: 30px;
}
